.modal {
    position: absolute;
    border: solid 2px gray;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 400px;
    text-align: center;
    opacity: 0;
    animation: showModal 1.5s forwards;
    background-color: rgba(232, 146, 146, 0.84);
}

@keyframes showModal {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes closeModal {
    0% {opacity: 1;}
    100% {opacity: 0;}
}