.adminpanel {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.adminpanelSide {
    position: absolute;
}

.title {
    text-align: center;
}


.userListTable {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: separate;
    min-width: 800px;
}
.userListTable thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

.userListTable tr th:first-child, .userListTable tr td:first-child {
    border-left: 1px solid #ddd;
}
.userListTable tr th:last-child, .userListTable tr td:last-child {
    border-right: 1px solid #ddd;
}
.userListTable thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.userListTable thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.userListTable tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: center;
}
.userListTable tbody tr:nth-child(even) {
    background-color: rgba(230, 176, 176, 0.63);
}
.userListTable tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}
.userListTable tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.userListTable tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

.tdava {
    text-align-last: center;
    width: 40px;
}
.tdava img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    border: thick double rgba(143,84,84,1);
}

.login {
    cursor: pointer;
}

.login:hover {
    font-weight: bold;
}

.tdbtn {
    width: 40px;
}

.trhead {
    background: rgb(145,87,83);
    background: linear-gradient(202deg, rgba(145,87,83,1) 0%, rgba(185,205,203,0.35898109243697474) 23%, rgba(79,17,17,1) 100%);
}

.userListBlockTable {
    width: 99%;
    margin-left: 220px;
}
.createUserForm div {

}

.createUserForm h2 {
    text-align: center;
}

.createUserForm input {
    padding: 10px;
    border: solid 1px hsl(0, 0%, 80%);
    border-radius: 4px;
}

.createUserFormField {
    display: grid;
    grid-template-columns: 100px 450px;
    margin-bottom: 20px;
}

.createUserFormSearch {
    display: grid;
    grid-template-columns: 100px 450px;
    margin-bottom: 20px;
}

.createUserForm label {
    align-self: center;
}

.createUserFormSelect {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


/*UserItemView*/
/*_________________________________*/
.userItemView {
    display: flex;
    place-content: center;
}

.avatar {
    display: grid;
    width: 320px;
    margin-left: 20px;
}

.avatar img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: thick double rgba(143,84,84,1);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    place-self: center;
}

.avatarBtn {
    place-self: center;
}

.userInfo {
    width: 600px;
    margin-left: 30px;
}

.infoItem {
    display: grid;
    grid-template-columns: 150px 200px;
    margin-bottom: 20px;
}

.infoItem input {
    padding: 10px;
    border: solid 1px hsl(0, 0%, 80%);
    border-radius: 4px;
}

.infoItem label {
    align-self: center;
}

.infoItemArray {
    display: grid;
    grid-template-columns: 150px 200px;
    margin-bottom: 20px;
}

.infoItemArray input {
    padding: 10px;
    border: solid 1px hsl(0, 0%, 80%);
    border-radius: 4px;
}

.infoItemArray label {
    align-self: center;
}

/*_________________________________*/
/*UserItemView*/