.red {
    background: rgb(36,14,0);
    background: linear-gradient(277deg, rgba(36,14,0,1) 0%, rgba(143,84,84,1) 23%, rgba(42,12,12,1) 100%);
}

.green {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(70,124,36,1) 100%);
}

.aqua {
    background: rgb(28,86,87);
    background: linear-gradient(0deg, rgba(28,86,87,1) 0%, rgba(105,209,197,1) 100%);
}

.btn {
    display: flex;
    margin: auto 10px;
    padding: 8px 30px;
    border: solid 1px #72767d;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: rgb(155, 146, 146);
    max-width: 200px;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.btn:hover{
    color: black;
    box-shadow: 0px 9px 13px -4px rgba(34, 60, 80, 0.4);
}

.btn:disabled{
    cursor: auto;
    background: rgb(19,17,18);
    background: linear-gradient(99deg, rgba(19,17,18,1) 0%, rgba(180,186,190,1) 76%, rgba(103,109,113,1) 100%);
    color: azure;
}

.btn-circle {
    display: flex;
    border-radius: 50%;
    margin: auto 10px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    border: solid 1px #72767d;
    color:rgb(31, 30, 30);
    max-width: 40px;
    max-height: 40px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.btn-circle:hover {
    background: rgb(36,14,0);
    background: linear-gradient(202deg, rgba(36,14,0,1) 0%, rgba(200,172,172,1) 23%, rgba(42,12,12,1) 100%);
}
.btn-circle:disabled{
    cursor: auto;
    background-color: aliceblue;
}